@view-transition {
  navigation: auto;
}

::view-transition-group(root) {
  animation-duration: 1s;
}
.overlay {
  border-image: linear-gradient(hsl(240 100% 20% / 0.6), hsl(0 100% 20% / 0.6))
    fill 1;
}

.glass-morphism {
  --primary-600: hsl(252, 9%, 22%);
  --primary-500: hsl(259, 13%, 28%);
  --border-1: var(--primary-500);
  --border-2: var(--primary-600);
  --border-width: 1px;
  border-radius: 0.5rem;
  position: relative;

  background: hsl(from var(--surface-3) h s l / 0.25);
  backdrop-filter: blur(3px);
}

.glass-morphism::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  border-radius: inherit;
  border: var(--border-width) solid transparent;
  background: linear-gradient(var(--border-1), var(--border-2)) border-box;
  mask:
    linear-gradient(black, black) border-box,
    linear-gradient(black, black) padding-box;
  mask-composite: subtract;
}
